<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Current</key>
	<dict>
		<key>Bytes</key>
		<real>0.0</real>
		<key>CRITICAL</key>
		<real>95</real>
		<key>Day</key>
		<integer>14</integer>
		<key>Duration</key>
		<real>0.0</real>
		<key>MaxValue</key>
		<real>3000</real>
		<key>Month</key>
		<integer>6</integer>
		<key>WARNING</key>
		<real>85</real>
		<key>Year</key>
		<integer>2016</integer>
	</dict>
	<key>Day</key>
	<dict>
		<key>Bytes</key>
		<real>0.0</real>
		<key>CRITICAL</key>
		<real>95</real>
		<key>Day</key>
		<integer>14</integer>
		<key>Duration</key>
		<real>0.0</real>
		<key>MaxValue</key>
		<real>50</real>
		<key>Month</key>
		<integer>6</integer>
		<key>WARNING</key>
		<real>85</real>
		<key>Year</key>
		<integer>2016</integer>
	</dict>
	<key>Last</key>
	<dict>
		<key>Bytes</key>
		<real>0.0</real>
		<key>CRITICAL</key>
		<real>95</real>
		<key>Day</key>
		<integer>28</integer>
		<key>Duration</key>
		<real>0.0</real>
		<key>MaxValue</key>
		<real>3000</real>
		<key>Month</key>
		<integer>8</integer>
		<key>TYPE</key>
		<string>DATA</string>
		<key>VALUE</key>
		<real>50</real>
		<key>WARNING</key>
		<real>85</real>
		<key>Year</key>
		<integer>2015</integer>
	</dict>
	<key>totalDuration</key>
	<integer>0</integer>
	<key>totoalVolume</key>
	<integer>0</integer>
</dict>
</plist>
